{% extends "layout.html" %}
{% block body %}

<section>
    <form action="/api/catalog/add" method="post">
        <div class="row row-padding">
            <label for="title">Title</label>
        </div>
        <div class="row">
            <input type="text" id="title" name="title">
        </div>
        <div class="row row-padding">
            <label for="category">Category</label>
        </div>
        <div class="row">
            <select name="category" id="category">
                {% for category in categories %}
                <option>{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row row-padding">
            <label for="description">Description</label>
        </div>
        <div class="row">
            <textarea type="text" id="description" name="description" cols="40"></textarea>
        </div>
        <div class="row row-padding">
            <button type="submit">Submit</button>
            <button type="button" onclick="history.back()">Cancel</button>
        </div>
    </form>
</section>
{% endblock %}