{% extends "layout.html" %}
{% block body %}
<div class="categories">
    <section>
        <h1>Categories</h1>
        <ul>
            {% for category in categories %}
            <li><a href="{{url_for('category_list_view', category=category.category_name)}}">{{category.category_name}}</a></li>
            {% endfor %}
            {% if 'access_token' is in session %}
            <a href="{{url_for('category_category_add_view')}}">Add Category</a>
            {% endif %}
        </ul>
    </section>
</div><div class="items">
    <section>
        <h1>{{category}}</h1>
        <ul>
            {% if category == 'Latest Items' %}
            {% for item in items %}
            <li><a href="{{url_for('category_item_view', category=item.category, item_name=item.item_name)}}">{{item.item_name}}({{item.category}})</a></li>
            {% endfor %}
            {% else %}
            {% for item in items %}
            <li><a href="{{url_for('category_item_view', category=item.category, item_name=item.item_name)}}">{{item.item_name}}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
        {% if session['authorized'] and category != 'Latest Items'%}
        <a href="{{url_for('category_item_add_view', category=category)}}">Add Item</a>
        {% endif %}
    </section>
</div>
{% endblock %}