{% extends "layout.html" %}
{% block body %}
<section>
    <div class="row row-padding">
        <label for="name">Name</label>
    </div>
    <div class="row">
        <input type="text" id="name" disabled name="name" value="{{item.item_name}}">
    </div>
    <div class="row row-padding">
        <label for="description">Description</label>
    </div>
    <div class="row">
        <input type="text" id="description" name="description" value="{{item.description}}">
    </div>
   <!-- <div class="row row-padding">
        <label for="category">Category</label>
    </div>
    <div class="row">
        <select name="category" id="category">
            {% for category in categories %}
            <option {% if item.category== category.name %} selected {% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>
    </div>-->
    <div class="row row-padding">
        <button type="submit" onclick="editItem()">Edite Item</button>
        <button type="button" onclick="cancelDelete()">Cancel</button>
        <div id="result"></div>
    </div>
</section>
<script>

    function cancelDelete() {
        window.history.back();
    }

    function editItem() {
        let name = document.getElementById("name").value;
        let description = document.getElementById("description").value;

        if (!name || !description) {
            alert("Item name and description are mandatory");
            return;
        }

        let data = {
            category: "{{category}}",
            name: name,
            description: description
        };

        $.ajax({
            type: 'POST',
            url: '/api/catalog/edit/{{item.category}}',
            processData: false,
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (result) {
                // Handle or verify the server response if necessary.
                if (result) {
                    $('#result').html('Edit Successful!</br>' + result + '</br>Redirecting...')
                    setTimeout(function () {
                        window.location.href = "/catalog/{{item.category}}/{{item.item_name}}";
                    }, 1000);

                } else {
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                }
            },
            error: function (response) {
                console.error(response);
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }

        });
    }
</script>
{% endblock %}